/.idea
/vendor
composer.phar
/cpp/builddir/
/cpp/subprojects/uSockets-*/
/cpp/subprojects/uWebSockets-*/
/cpp/subprojects/nlohmann_json-*/
/cpp/subprojects/zlib-*/
/cpp/subprojects/stb/
/cpp/subprojects/packagecache/
.zig-cache
zig/zig-out
node_modules
test-results
